.header-name{
    position: fixed;
    top: 0;
    font-size: 7vw;
    font-family: 'VT323', monospace;
    margin-bottom: 1;
    margin-top: 0;
    color: whitesmoke;
}
.header-port{
    position: fixed;
    text-align: left;
    font-size: 6vw;
    font-family: 'VT323', monospace;
    margin: 1;
    color: chartreuse;
}
canvas{
    

}

@media (max-width:600px) {

    .header-name,
    .header-port{
        font-size: 6vh;
        font-family: 'VT323', monospace;
    }

}
